/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.card-mb-15 {
	margin-bottom: 15px;
}

.paginate {
	margin: auto;
	width: 10%;
}

body{
	background-color: lightgrey;
}

.profile-photo{
	height:40px;
	width:40px;
	border-radius: 50%;
	
}

.profile-photo1{
	height:400px;
	width:400px;
	border-radius: 50%;
	
}



.listing-photo{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a:hover{
	background-color: lightgrey;
}

.profile{
	font-size: 80px,
}

.title{
	font-size: 40px;
	color:#119199;
}

.content{
	font-size: 30px;
}

.reservation{
	border: 1px solid black;
	border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
	font-size: 20px;
}

#navbarDropdownMenuLink{
	color:#ff8bb5;
}

#location{
	font-size: 30px;
	font-family: fantasy;
	color: #3b3939;
}

